.chat {
    min-height: 500px;
    
    header {
        padding: 8px 15px;
        display: flex;
        align-items: center;

        font: normal normal bold 14px/17px Lato;
        color: #64728C;
        border-bottom: 1px solid #E8EAEF;
        
        svg {
            margin-right: 14px;
            border: 1px solid #2253F5;
            color: #2253F5;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }
    }

    ul {
        width: 100%;
        list-style: none;
        min-height: 374px;
        height: 100%;
        max-height: 374px;
        display: flex;
        flex-direction: column;
        padding: 36px 26px;
        overflow-y: auto;

        .no_message {
          text-align: center;
          color: #64728C;
          font-size: 18px;
        }

        li {
            position: relative;
            max-width: 60%;
            padding: 10px;
            border-radius: 0px 5px 5px 5px;

            &:not(:last-child) {
                margin-bottom: 50px;
            }
            
            pre {
                font: normal normal normal 14px/17px Lato;
                color: #64728C;
    
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;

                a {
                text-decoration: none;
                font-style: italic;
                }
            }

            span.hour {
                position: absolute;
                bottom: -16px;
                right: 0;
                font-size: 11px;
                color: #a2a9bf;
            }
        
            span.author {
                position: absolute;
                top: -16px;
                left: 0;
                font-size: 11px;
                color: #a2a9bf;
            }
        
            span.file {
                position: absolute;
                top: -16px;
                right: 0;
                font-size: 11px;
                color: #a2a9bf;
            
                cursor: pointer;
            }

            .div_file {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 5px;

                p {
                    display: inline-block;
                    font-size: 13px;
                    max-width: 200px;
                    margin-top: 8px;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    color:#545C68;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;

                    img {
                    border-radius: 5px;
                    height: 100%;
                    width: auto;
                    }
                }

                svg {
                    color: #2253F5;
                    font-size: 30px;
                }
            }

            background: #F5F8FF;
            
            &.author {
                background: rgba(41, 217, 117, 0.3);
                align-self: flex-end;
                border-radius: 5px 5px 0px 5px;

                span.hour {
                    left: 0;
                    right: unset;
                }
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 16px 16px;
        position: relative;

        .typing {
          width: auto;
          padding: 8px 0;
          position: absolute;
          top: -13px;
          left: 40px;
        
          & > p {
            display: inline;
            font-size: 13px;
            color: #64728C;
          }
        
          &::after {
            content: 'está digitando..';
            display: inline;
            font-size: 13px;
            color: #64728C;
          }
        }

        svg {
            color: #CFD3DE;
            cursor: pointer;
        }

        textarea {
            min-width: 290px;
            max-width: 290px;
        }

        button {
            svg {
                color: white;
            }
            width: 40px;
            height: 40px;
            padding: 0;
        }
    }
}