.chat {
    min-height: 500px;
    
    header {
        padding: 8px 15px;
        display: flex;
        align-items: center;

        font: normal normal bold 14px/17px Lato;
        color: #64728C;
        border-bottom: 1px solid #E8EAEF;
        
        svg {
            margin-right: 14px;
            border: 1px solid #2253F5;
            color: #2253F5;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
        }
    }

    ul {
        width: 100%;
        list-style: none;
        min-height: 374px;
        height: 100%;
        max-height: 374px;
        display: flex;
        flex-direction: column;
        padding: 36px 26px;
        overflow-y: auto;

        li {
            max-width: 60%;
            padding: 10px;
            border-radius: 0px 5px 5px 5px;

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            font: normal normal normal 14px/17px Lato;
            color: #64728C;
            background: #F5F8FF;

            &.author {
                background: rgba(41, 217, 117, 0.3);
                align-self: flex-end;
                border-radius: 5px 5px 0px 5px;
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 16px 16px;

        svg {
            color: #CFD3DE;
            cursor: pointer;
        }

        textarea {
            min-width: 290px;
            max-width: 290px;
        }

        button {
            svg {
                color: white;
            }
            width: 40px;
            height: 40px;
            padding: 0;
        }
    }
}